.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  input {
    border: 1px solid #aaaaaa4d;
    border-radius: 8px;
    font-size: 14px;
    height: 30px;
    line-height: 19px;
    padding: 7px 15px;
    width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;

  button {
    width: 70px;
    height: 20px;
    font-size: 12px;

    color: #fafafa;
    text-align: center;

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.cancel {
  background: #f05454;
}

.submit {
  background: #20df7f;
}
